body {
        background-color: black;
        text-align: center;
        
}
 
#header {
        font-family: Helvetica;
        background-color: blue;
        
}
 
#OList {
        font-size: 25px;
        background-color: lightgreen;
        font-family: Helvetica;
}
#UList {
        font-size: 25px;
        background-color: red;
        font-family: Monaco;
}
#NPictures {
        font-size: 25px;
        background-color: yellow;
        font-family: Tahoma;
}
